:root {
    --banner_header_footer: #f8d57e;
    --nav_hover: #f8f67e;
    --color-fondo: #fffaf7;
    --background-bottom: #f7f7f7;
    --color-texto: #333333;
    --color-acento: #f8d57e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #fffaf7;
    color: --color-texto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--banner_header_footer);
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #ffeecb;
}

.hero-content {
    max-width: 50%;
}

.hero img {
    max-width: 40%;
    border-radius: 10px;
}

.cta-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: #ff9800;
    color: white;
    border: none;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.servicios {
    padding: 2rem;
    background-color: #fff;
    text-align: center;
}

.servicio-grid {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.servicio-card {
    width: 250px;
    padding: 1rem;
    /* background-color: #f5f5f5; */
    border-radius: 10px;
}

.servicio-card i {
    font-size: 2rem;
    color: #ff0000;
    margin-bottom: 0.5rem;
}

.contacto {
    padding: 2rem;
    text-align: center;
    background-color: #ffffff;
}

body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: var(--background-bottom);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 10px 0;
    /* margen superior e inferior */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav a {
    margin-left: 1rem;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    background-color: var(--nav_hover);
    padding: 0.5rem;
    border-radius: 50%;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: var(--banner_header_footer);
    padding: 15px;
    text-align: center;
}

.social-icons a {
    margin: 0 0.5rem;
    color: var(--color-texto);
}



/* Responsive: en pantallas pequeñas ocupa 100% */
@media (max-width: 768px) {
    .wrapper {
        width: 100%;
        margin: 10px 0;
        box-shadow: none;
    }
}